.main {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .main .title {
    font-weight: bold; }
  .main .title, .main .sub-title {
    color: #8860d0;
    text-align: center; }

.header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header .logo {
    width: 50px; }
  .header .brief {
    color: #84ceeb;
    font-size: 14px; }
