@import "common.scss";

.user-idea {
	margin-top: 20px;
	input {
		width: 100%;
		border: none;
		outline: none;
		margin-top: 50px;
		font-size: 47.776px;
		padding: 10px;
		color: $blue;
		border-bottom: 2px solid $mixed;
		@include transition(.3s all);
		&:focus {
			border-color: $blue;
		}
		&::-webkit-input-placeholder {
			color: $mixed;
		}
		&::-moz-placeholder {
			color: $mixed;
		}
	}
}

.buttons {
	opacity: 1;
	visibility: visible;
	margin-top: 20px;
	@include transition(.3s all);
	text-align: center;
	.button {
		padding: 10px;
		background: $light-blue;
		display: inline-block;
		text-decoration: none;
		color: $white;
		&:first-of-type {
			margin-right: 20px;
		}
	}
}

.data {
	margin-top: 50px;
	border: 2px solid $mixed;
	opacity: 1;
	visibility: visible;
	padding: 20px 10px;
	@include transition(.3s all);
}

.preview {
	font-style: italic;
	margin-bottom: 20px;
	font-size: 18px;
	color: $purple;
}