.notes .note-item {
  color: #8860d0;
  display: flex; }
  .notes .note-item:nth-child(n+2) {
    margin-top: 10px; }
  .notes .note-item .note-number {
    color: #5680E9;
    font-weight: bold;
    margin-right: 10px; }
  .notes .note-item .note-item-delete {
    margin-left: auto;
    height: 16px;
    color: red; }
